@font-face {
	font-family: 'Karl ST Trial';
	src:
		url('/KarlSTTrial-Regular.woff2') format('woff2'),
		url('/KarlSTTrial-Regular.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Karl ST Trial';
}

:root {
	--trustblau: #2dabff;
	--trustblau-sunbleached: #2dabff50;
	--trustblau-inv: #d25400;
	--camo: #81842f;
	--upsgray: #cbcfcb;
	--upsgray-30: #cbcfcb30;
	--upsgray-inv: #343034;
	--upsgray-inv-30: #34303430;
	--acidgreen: #eef43c;

	--space-row: 0.75rem;
	--space-section: 1rem;

	--bgcolor: var(--acidgreen)
}

html,
body {
	background: #fff;
	height: 100%;
}

img {
	max-width: 100%;
}

